@model Travaloud.Core.Entities.Catalog.TourItinerarySection

@{
    <div class="card h-100">
        @if (Model.Carousel != null)
        {
            @Html.DisplayFor(x => x.Carousel)

        }

        <div class="card-body d-flex flex-column">
            <h4 class="fw-bold mb-2 text-black">@Model.Title</h4>
            @if (!string.IsNullOrEmpty(Model.SubTitle))
            {
                <h5 class="fw-bold mb-4 text-muted text-shadow-0">@Model.SubTitle</h5>
            }

            <div class="mb-0">
                @Html.Raw(Model.Description)
            </div>

            @*<div class="mt-auto">
                @if (tripDayInformationValues.Any())
                {
                    <div class="row">
                        @foreach (var tripDayInformationValue in tripDayInformationValues)
                        {
                            <div class="col-lg-6 mb-2">
                                <span class="badge bg-black p-2 w-100"><i class="fas @tripDayInformationValue.Key dark-grey-text" aria-hidden="true"></i> @tripDayInformationValue.Value</span>
                            </div>
                        }
                    </div>
                }
            </div>*@
        </div>
    </div>
}

